.update {
  padding: 2rem;
  margin-top: 5rem;
  width: fit-content;
}
.update form div {
  margin: 2rem 0;
}
.update p {
  margin-bottom: 5px;
  color: var(--color-grey-700);
}
.update input {
  outline: none;
  border: 1px solid var(--color-grey-200);
  border-radius: 8px;
  background-color: var(--color-grey-0);
  padding: 5px 20px;
  width: 350px;
}
.update input:focus {
  border-color: var(--color-primary); /* Change border color on focus */
}
.update input::placeholder {
  color: var(--color-grey-400);
}
.avatar {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.avatar img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.btn {
  border: 1px solid var(--color-grey-0);
  background-color: var(--color-primary);
  padding: 5px 10px;
  border-radius: 8px;
  color: var(--color-grey-0);
  width: 350px;
}
