.offer {
  align-items: center;
  border-bottom: 1px solid var(--color-grey-100);
  border-top: 1px solid var(--color-grey-100);
  padding: 2rem 0;
  color: var(--color-grey-500);
}
.status {
  border: 1px solid;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  width: 9rem;
  text-transform: capitalize;
  text-align: center;
}
.granted {
  background-color: var(--bg-pending);
  color: #ffa200;
  border-color: #ffa200;
}
.active {
  background-color: var(--bg-active);
  color: #028702;
  border-color: #028702;
}
