.stats {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.title {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--color-grey-500);
}
.stats h3{
    font-size: 3rem;
}
