.user {
  display: flex;
  justify-content: space-between;
  gap: 6rem;
  margin-bottom: 1rem;
}
.left {
  display: flex;
  flex-direction: column;
}
.name {
  font-weight: 700;
  font-size: small;
}
.date {
  font-size: 1.2rem;
}
.status {
  font-size: small;
  border: 1px solid;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  width: 7rem;
  text-transform: capitalize;
  text-align: center;
  height: fit-content;
}
.pending {
  background-color: var(--bg-pending);
  color: #ffa200;
  border-color: #ffa200;
}
.blocked {
  background-color: var(--bg-blocked);
  color: #f00101d2;
  border-color: #f00101d2;
}
.active {
  background-color: var(--bg-active);
  color: #028702;
  border-color: #028702;
}
