.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.btn {
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  padding: 5px 20px;
  border-radius: 5px;
  color: var(--color-grey-0);
}
