.nav {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 5rem;
  border-bottom: 1px solid var(--color-primary-xlight);
}
.icon {
  color: var(--color-grey-400);
  font-size: 2rem;
}
.link {
  display: flex;
  align-items: center;
  padding: 10px;
  text-transform: capitalize;
  gap: 2rem;
  border-left: 1px solid var(--color-grey-0);
  border-radius: var(--border-radius-sm);
  color: var(--color-grey-500);
  font-weight: 500;
}
.plus {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--color-grey-500);
  display: grid;
  place-items: center;
  color: var(--color-grey-0);
}

.link:hover,
:global(.active) {
  color: var(--color-primary);
  background-color: var(--color-grey-100);
  border-left-color: var(--color-primary);
}
.link:hover .plus {
  background-color: var(--color-primary);
}
.link:hover .plus svg {
  color: var(--color-grey-0) !important;
}

.link:hover svg,
:global(.active) svg {
  color: var(--color-primary);
}

.other {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (max-width: 800px) {
  .link span {
    display: none;
  }
}
